body {
    background-color: #EAEAEA;    
    font-family: 'Montserrat';
    font-style: normal;
}

.icon_wrapper {
    position: relative;
    width: 30px;
    height: 30px;
}

.icon{
    height: 21px;
}

.container {}

.counter {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    font-size: 8px;
    background-color: crimson;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    font-weight: 800;
}